@model Razor.Models.Usuario

@using (Html.BeginForm("Cadastrar", "Usuarios", FormMethod.Post))
{
    <fieldset>
        <legend>Dados Pessoais</legend>
        <div class="form-group">
            @Html.LabelFor(usuario => usuario.Nome, "Nome:")
            @Html.TextBoxFor(usuario => usuario.Nome, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(usuario => usuario.Nome)
        </div>
        <div class="form-group">

            @Html.LabelFor(u => u.Email, "Email:")
            @Html.TextBoxFor(u => u.Email, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(u => u.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Senha, "Senha:")
            @Html.PasswordFor(u => u.Senha, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(u => u.Senha)
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.DataNascimento, "Data de Nascimento:")
            @Html.TextBoxFor(u => u.DataNascimento, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(u => u.DataNascimento)
        </div>
        <div class="form-group">
            <label class="inline radio">
                @Html.RadioButtonFor(u => u.Sexo, Convert.ToChar(Razor.Models.Sexo.Masculino).ToString()) @Razor.Models.Sexo.Masculino.ToString()
            </label>
            <label class="inline radio">
                @Html.RadioButtonFor(u => u.Sexo, Convert.ToChar(Razor.Models.Sexo.Femenino).ToString()) @Razor.Models.Sexo.Femenino.ToString()
            </label>
        </div>
        <div class="form-group">
            @Html.LabelFor(usuario => usuario.Estado, "Estado:")
            @Html.DropDownListFor(u => u.Estado, new SelectList(Enum.GetValues(typeof(Razor.Models.Estado))), new { @class = "input-block-level" })
        </div>
</fieldset>
    <fieldset>
        <legend>Dados de Entrega</legend>
        @Html.LabelFor(u => u.Endereco, "Endereço:")
        @Html.TextBoxFor(u => u.Endereco, new { @class = "input-block-level" })
        @Html.ValidationMessageFor(u => u.Endereco)

        @Html.LabelFor(u => u.Complemento, "Complemento:")
        @Html.TextBoxFor(u => u.Complemento, new { @class = "input-block-level" })
        @Html.ValidationMessageFor(u => u.Complemento)

        @Html.LabelFor(u => u.Cep, "CEP:")
        @Html.TextBoxFor(u => u.Cep, new { @class = "input-block-level" })
        @Html.ValidationMessageFor(u => u.Cep)
    </fieldset>
   
    <input type="submit" value="Cadastrar" class="btn btn-large" />
}